/* line 5, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
body {
  background-color: #3d3d3d;
}

/* line 15, ../sass/style.scss */
.container {
  width: 1000px;
  height: 1000px;
  font-size: 62.5%;
  margin: 5px auto;
  text-align: center;
  box-shadow: 1px 1px 2px #adadad, -1px -1px 2px #adadad;
  background-color: #e9eaea;
  color: #58575F;
  font-family: 'Roboto', sans-serif;
}
/* line 26, ../sass/style.scss */
.container .fa-2x {
  font-size: 1.3em;
}
/* line 30, ../sass/style.scss */
.container .fa-3x {
  font-size: 2.5em;
}
/* line 34, ../sass/style.scss */
.container .top {
  width: 1000px;
  background-color: #f5f6f6;
  height: 45px;
}
/* line 39, ../sass/style.scss */
.container .top section {
  display: inline-block;
  margin: 7px 10px 7px 0;
}
/* line 43, ../sass/style.scss */
.container .top section.header-left {
  float: left;
}
/* line 46, ../sass/style.scss */
.container .top section.header-left i {
  margin-left: 10px;
  border: 1px solid #e9eaea;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
/* line 55, ../sass/style.scss */
.container .top section.header-left i.fa-umbrella {
  color: #f5f6f6;
  background-color: #6098c8;
}
/* line 62, ../sass/style.scss */
.container .top section.mark {
  color: #6098c8;
}
/* line 66, ../sass/style.scss */
.container .top section.header-right {
  float: right;
  position: relative;
}
/* line 69, ../sass/style.scss */
.container .top section.header-right .fa-search {
  position: absolute;
  left: 95px;
  top: 7px;
}
/* line 74, ../sass/style.scss */
.container .top section.header-right .search-field {
  border: 1px solid #e9eaea;
  border-radius: 10px;
  height: 22px;
  width: 120px;
}
/* line 80, ../sass/style.scss */
.container .top section.header-right i {
  margin-left: 10px;
}
/* line 90, ../sass/style.scss */
.container .page-content {
  float: left;
  background-color: lightgray;
}
/* line 93, ../sass/style.scss */
.container .page-content .left {
  width: 230px;
  height: 955px;
  background-color: lightblue;
  display: inline-block;
}
/* line 99, ../sass/style.scss */
.container .page-content .content {
  width: 534px;
  height: 955px;
  display: inline-block;
}
/* line 105, ../sass/style.scss */
.container .page-content .right {
  width: 230px;
  height: 955px;
  background-color: lightblue;
  display: inline-block;
}
